/* Variables */

:root {
    /* layout */
    --gap: 5px;
    --radius: 5px;
    --header-height: 70px;

    /* colors */
    --color-text: #333;
    --color-default: #888;
    --color-primary: #2a85c5;
    --color-secondary: #ea6565;
    --color-border: #ddd;
    --bg-light: #f8f8f8;
    --bg-dark: #1A2D38;

    /* progress bar */
    --progress-light: #7BC5FA;
    --progress-bg: #12639C;

    /* animation */
    --easing: cubic-bezier(.01,.59,.39,1);
}


/* Reset */

* {
    box-sizing: border-box;
}


/* Base */

html {
    height: 100%;
    font-size: 62.5%;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    min-height: 100%;
    color: var(--color-text);
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 1.6;
    background-color: var(--bg-light);
}


/* Imagery */

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

svg {
    display: block;
}


/* Typography */

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: "Candal", sans-serif;
    text-transform: uppercase;
    line-height: 1;
}

p {
    margin: calc(var(--gap) * 4) 0;
}

a {
    color: var(--color-primary);
    text-decoration: none;
}
a:focus,
a:hover {
    text-decoration: underline;
}
a:active {
    color: inherit;
    text-decoration: none;
}


/* Lists */

ul,
ol {
    display: block;
    margin: 0;
    padding: 0;
    font-size: 0.8em;
    list-style-position: inside;
}


/* Forms */

form {
    margin-top: calc(var(--gap) * 4);
}
form > * {
    margin-bottom: calc(var(--gap) * 3);
}
form > *:last-child {
    margin-bottom: 0;
}
form button {
    margin-top: calc(var(--gap) * 4);
}
form ul,
form ol {
    margin-top: calc(var(--gap) * -2);
}

label {
    display: block;
    margin: 0 var(--gap) calc(var(--gap) / 2);
    font-size: 0.9em;
    opacity: 0.75;
}

input,
select,
textarea,
button {
    display: block;
    position: relative;
    appearance: none;
    padding: calc(var(--gap) * 2) calc(var(--gap) * 3);
    width: 100%;
    min-height: 42px;
    line-height: 1;
    border: 1px solid var(--color-border);
    border-radius: var(--radius);
}
input[disabled],
input[readonly],
select[disabled],
select[readonly],
textarea[disabled],
textarea[readonly],
button[disabled],
button[readonly] {
    pointer-events: none !important;
    background-color: var(--color-border) !important;
}
input[hidden],
select[hidden],
textarea[hidden],
button[hidden] {
    display: none !important;
}

input,
select,
textarea {
    font-size: 14px;
    background-color: #fff;
}

input[type="checkbox"],
input[type="radio"] {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    margin: 0 var(--gap) 0 0;
    padding: 0;
    width: 24px;
    height: 24px;
    min-height: auto;
}
input[type="radio"] {
    border-radius: 1000px;
}

input[type="checkbox"]:checked,
input[type="radio"]:checked {
    border-color: var(--color-primary);
    background-color: var(--color-primary);
}
input[type="checkbox"]:checked {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16px' height='16px' viewBox='0 0 24 24'%3E%3Cpath fill='%23fff' d='m9 20.42l-6.21-6.21l2.83-2.83L9 14.77l9.88-9.89l2.83 2.83z'/%3E%3C/svg%3E");
    background-position: center center;
    background-repeat: no-repeat;
}
input[type="radio"]:checked {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12px' height='12px' viewBox='0 0 24 24'%3E%3Cpath fill='%23fff' d='M12 22q-2.075 0-3.9-.788t-3.175-2.137T2.788 15.9T2 12t.788-3.9t2.137-3.175T8.1 2.788T12 2t3.9.788t3.175 2.137T21.213 8.1T22 12t-.788 3.9t-2.137 3.175t-3.175 2.138T12 22'/%3E%3C/svg%3E");
    background-position: center center;
    background-repeat: no-repeat;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
    display: inline;
    vertical-align: middle;
    margin: 0;
    font-size: 0.9em;
    opacity: 1;
}

select {
    /* icon */
}


/* Buttons */

button {
    cursor: pointer;
    display: flex;
    grid-gap: var(--gap);
    align-items: center;
    place-content: center;
    width: 100%;
    color: #fff;
    font-family: "Candal", sans-serif;
    font-size: 18px;
    text-decoration: none !important;
    text-transform: uppercase;
    background-color: #888;
    border-color: #888;
}
button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
    background-color: #888 !important;
    border-color: #888 !important;
}
button:focus,
button:hover {
    background-color: color-mix(in srgb, var(--color-default) 80%, black);
    border-color: color-mix(in srgb, var(--color-default) 80%, black);
}
button:active {
    background-color: var(--color-default);
    border-color: var(--color-default);
}

button.primary {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
}
button.primary:focus,
button.primary:hover {
    background-color: color-mix(in srgb, var(--color-primary) 80%, black);
    border-color: color-mix(in srgb, var(--color-primary) 80%, black);
}
button.primary:active {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
}

button.secondary {
    background-color: var(--color-secondary);
    border-color: var(--color-secondary);
}
button.secondary:focus,
button.secondary:hover {
    background-color: color-mix(in srgb, var(--color-secondary) 80%, black);
    border-color: color-mix(in srgb, var(--color-secondary) 80%, black);
}
button.secondary:active {
    background-color: var(--color-secondary);
    border-color: var(--color-secondary);
}

button.small {
    padding: 2px 8px;
    width: auto;
    min-height: auto;
    font-size: 12px;
    border-radius: 1000px;
}


/* Header and Footer */

header {
    display: flex;
    grid-gap: calc(var(--gap) * 2);
    align-items: center;
    align-content: center;
    justify-content: space-between;
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    right: 0;
    padding: calc(var(--gap) * 2);
    color: var(--color-text);
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}
header a {
    height: 100%;
}
header img {
    height: 50px;
}
header h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 20px;
    transform: translate(-50%, -50%);
}

footer {
    display: flex;
    flex-direction: column;
    grid-gap: calc(var(--gap) * 2);
    align-items: center;
    align-content: center;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: calc(var(--gap) * 2);
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}
footer.dark {
    background-color: var(--bg-dark);
    box-shadow: none;
}
footer a {
    display: block;
    width: 100%;
}
footer button {
    margin: 0;
}


/* Layout */

section {
    display: block;
    padding: calc(var(--gap) * 4);
    width: 100%;
    border-right: 1px solid var(--color-border);
    border-left: 1px solid var(--color-border);
}
section + section:not(:last-of-type) {
    padding-bottom: 0;
}
section:last-of-type {
    flex: 1;
}
section.center {
    text-align: center;
}
section.vcenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
section.grow {
    flex: 1;
}
section.dark {
    color: var(--bg-light);
    background-color: var(--bg-dark);
}
section > *:first-child {
    margin-top: 0;
}
section > *:last-child {
    margin-bottom: 0;
}

hr {
    display: block;
    position: relative;
    margin: calc(var(--gap) * 6) calc(var(--gap) * -4) !important;
    height: 1px;
    border: 0;
    background-color: var(--bg-light);
    opacity: 0.25;
    overflow: visible;
}
hr::after {
    content: 'OR';
    display: block;
    position: absolute;
    padding: calc(var(--gap) * 2);
    width: 40px;
    top: 50%;
    left: 50%;
    color: #fff;
    text-align: center;
    font-weight: bold;
    background-color: var(--bg-dark);
    transform: translate(-50%, -50%);
}

table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid var(--color-border);
    border-radius: var(--radius);
    background-color: #fff;
}

table thead {
    border-bottom: 1px solid var(--color-border);
}

table th,
table td {
    padding: calc(var(--gap) / 4) var(--gap);
}
table th {
    text-transform: uppercase;
}
table td {
    font-size: 0.9em;
}
table td:nth-of-type(even) {
    color: var(--color-primary);
    font-weight: bold;
    text-align: right;
}

table tbody tr {
    border-top: 1px solid var(--color-border);
}
table tbody tr:first-child {
    border-top: 0;
}
table tbody tr:nth-child(odd) {
    background-color: var(--bg-light);
}