/* Hero */

.hero {
    display: flex;
    align-items: center;
    place-content: center;
    position: relative;
    margin: 0;
    padding: 0;
    max-height: 45vw;
    overflow: hidden;
    border-bottom: 1px solid var(--color-border);
}
.hero img {
    inset: 0;
    width: 100%;
    object-fit: cover;
}


/* Password masking */

.password {
    display: block;
    position: relative;
}
.password input {
    padding-right: calc(var(--gap) * 2 + 24);
}
.password #toggle-password {
    display: block;
    position: absolute;
    top: 52%;
    right: 0;
    transform: translateX(-50%);
    color: var(--color-text);
    z-index: 1;
}


/* Progress bar */

.progress {
    display: flex;
    align-items: center;
    place-content: center;
    position: relative;
    height: 24px;
    color: #fff;

    span {
        font-weight: bold;
        font-size: 13px;
        z-index: 1;
    }

    progress {
        position: absolute;
        inset: 0;
    }
}

progress {
    display: flex;
    appearance: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 24px;
    border: 0;
    border-radius: 1000px;
    background-color: var(--progress-bg);
    overflow: hidden;
}
progress::-webkit-progress-bar {
    background-color: var(--progress-bg);
}
progress::-webkit-progress-value {
    background-color: var(--color-primary);
    background-image: linear-gradient(to bottom, var(--progress-light), var(--color-primary));
}
progress::-moz-progress-bar {
    background-color: var(--color-primary);
    background-image: linear-gradient(to bottom, var(--progress-light), var(--color-primary));
}


/* Language component */

.language {
    display: flex;
    grid-gap: calc(var(--gap) * 2);
    align-items: center;
    align-content: center;
    justify-content: space-between;
    position: relative;
    margin-top: calc(var(--gap) * 2);
    font-size: 0.8em;
    border: 1px solid var(--color-border);
    border-radius: var(--radius);
    background-color: #fff;
    cursor: pointer;
}

.language .mask {
    overflow: hidden;
    margin: 5px;
    margin-right: 0;
    width: 72px;
    height: 64px;
    border: 1px solid var(--color-border);
    border-radius: var(--radius);
}
.language img {
    height: 100%;
    object-fit: cover;
}

.language .details {
    flex: 1;
    color: var(--color-text);
    text-decoration: none;
}
.language .details h2 {
    line-height: 1;
    margin-bottom: 5px;
}
.language .details .timetable,
.language .details .price {
    display: flex;
    grid-gap: var(--gap);
    align-items: center;
    align-content: center;
}

.language .input-box {
    cursor: pointer;
    display: flex;
    align-items: center;
    place-content: center;
    margin: 0;
    width: 74px;
    height: 74px;
    border-left: 1px solid var(--color-border);
}
.language input {
    margin: 0;
}

.language progress {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -2px;
    height: 4px;
}


/* Extras */

.dim {
    opacity: 0.5;
}