.drawer-toggle {
    display: block;
    cursor: pointer;
}
.drawer-toggle svg {
    display: block;
}

aside {
    overflow: hidden;
    position: fixed;
    z-index: 10;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.6);
    border-top: 1px solid var(--color-border);
    transition: opacity 0.5s var(--easing);
}
aside.visible {
    visibility: visible;
}
aside.active {
    opacity: 1;
}

aside .drawer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 80%;
    max-width: 300px;
    background-color: #fff;
    transform: translateX(-100%);
    transition: transform 0.5s var(--easing);
}
aside.active .drawer {
    transform: translateX(0);
}

aside a {
    display: block;
    color: var(--color-text);
    text-decoration: none;
}
aside a:focus,
aside a:hover {
    text-decoration: underline;
}
aside a:active {
    text-decoration: none;
}

aside .menu a {
    padding: calc(var(--gap) * 2) calc(var(--gap) * 4);
    border-bottom: 1px solid var(--color-border);
}

aside .legal {
    display: flex;
    grid-gap: 10px;
    flex-direction: column;
    padding: calc(var(--gap) * 4);
}
aside .legal a {
    font-size: 0.8em;
}