<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Language School :: Template</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Candal&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Candal&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="/static/styles/base.css">
        <link rel="stylesheet" href="/static/styles/menu.css">
        <link rel="stylesheet" href="/static/styles/components.css">

        <link rel="stylesheet" href="/static/styles/language.css">
    </head>

    <body>
        <header>
            <a href="/static/dashboard.html">
                <img src="/static/images/logo.png" alt="Logo">
            </a>

            <h1>Learnsphere</h1>

            <div class="drawer-toggle"></div>
        </header>

        <aside data-include="menu">
            <!-- Dynamic menu content is injected here -->
        </aside>

        <section class="hero">
            <img data-language="flag" src="" alt="">
        </section>

        <section>
            <button onclick="history.back()" class="primary small">
                <!-- arrow left -->
                <svg xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" viewBox="0 0 24 24"><g fill="none"><path d="M24 0v24H0V0zM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035q-.016-.005-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093q.019.005.029-.008l.004-.014l-.034-.614q-.005-.019-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z"/><path fill="currentColor" d="M3.283 10.94a1.5 1.5 0 0 0 0 2.12l5.656 5.658a1.5 1.5 0 1 0 2.122-2.122L7.965 13.5H19.5a1.5 1.5 0 0 0 0-3H7.965l3.096-3.096a1.5 1.5 0 1 0-2.122-2.121z"/></g></svg>

                Back
            </button>
        </section>

        <section class="details">
            <h1 data-language="name"></h1>

            <span>
                Everyday from <strong data-language="schedule"></strong>
            </span>

            <br>

            <strong>
                €<span data-language="price"></span> per month
            </strong>
        </section>

        <section>
            Current module:
            <strong data-language="current"></strong>

            <div class="progress">
                <span>
                    <span data-language="completion"></span>% complete
                </span>

                <progress data-language="completion" value="" max="100">
                    <span data-language="completion"></span>%
                </progress>
            </div>
        </section>

        <section class="grades">

            <table>
                <thead>
                    <tr>
                        <th colspan="2">Grades</th>
                    </tr>
                </thead>

                <tbody data-language="modules"></tbody>
            </table>
        </section>

        <section class="description">
            <p data-language="description" style="white-space: pre-line;"></p>
        </section>

        <footer>
            <button id="cancel" class="secondary">
                Cancel enrollment
            </button>
        </footer>

        <script type="text/javascript" src="/static/scripts/base.js"></script>
        <script type="module" src="/static/scripts/menu.js"></script>

        <script type="module" src="/static/scripts/language.js"></script>
    </body>
</html>