{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Language School :: Payment</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Candal&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Candal&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="{% static 'styles/base.css' %}">
        <link rel="stylesheet" href="{% static 'styles/components.css' %}">
        <link rel="stylesheet" href="{% static 'styles/payment.css' %}">
    </head>

    <body>
        <section class="center">
            <h1>Payment in progress</h1>

            <p>
                Please wait while we process your payment
            </p>
        </section>

        <section class="center vcenter grow">
            <div class="loader"></div>
        </section>

        <script type="text/javascript" src="{% static 'scripts/storage.js' %}"></script>
        <script type="text/javascript" src="{% static 'scripts/api.js' %}"></script>
        <script type="text/javascript" src="{% static 'scripts/base.js' %}"></script>

        <script type="text/javascript" src="{% static 'scripts/payment.js' %}"></script>
    </body>
</html>